# Proto files
dish.protoset
grpc_targets.txt
# Prototype code
helper.py
DockerFile-sketch
# Progress Tracking
TODO

# python stuff
/vnenv
*/__pycache__
.pytest_cache


# External dependencies
/modules/grpc.py
