# Proto files
dish.protoset
grpc_targets.txt
# Prototype code
helper.py
dump.py
schema_dev.json
DockerFile-sketch
# Progress Tracking
TODO

# python stuff
/vnenv
*/__pycache__
__pycache__
.pytest_cache

# other stuff
.vscode
image.tar
nodes_stuff_needs_doing
dump.json

# External dependencies
/modules/grpc.py

#Ansible dev
/ansible/basic_playbook.yml
/ansible/a_password_file