# Proto files
dish.protoset
grpc_targets.txt
# Prototype code
helper.py
DockerFile-sketch
# Progress Tracking
TODO

# python stuff
/vnenv
/modules/__pycache__

# External dependencies
/modules/grpc.py
